.form_text {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    color: rgb(255, 255, 255);
}

.form_text label { 
    margin-bottom: .6em;
    font-weight: bold;
}

.form_text textarea {
    padding: .7em;
    height: 2.5rem;
    border: none;
    font-size: 15px;
    background-color: rgb(197, 197, 197);
    resize: none;
    border: 1px solid rgb(0, 0, 0);
}


.form_text textarea:focus {
    outline: none;
}