.tabela {
    margin: 2vh 0;
}
.title{
    margin-top: 2vh;
    margin-left: 1rem;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;

}
.tabela table {
    margin: 3vh 0;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.567);

}

.tabela th {
    padding: 10px;
    text-align: center;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(83, 83, 83)  100%);
    color: #FFFFFF;
    border: 1px solid #6f6f6f;

}

.tabela td {
    padding: 10px;
    text-align: center;
    color: #000000;
    border: 1px solid #000000;

}

.tabela tr:hover {
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(119, 119, 119)  100%);
   cursor: pointer;
}