.btn {
    width: 40%;
    height: 6vh;
    background-color: rgb(0, 51, 255);
    color: #FFFFFF;
    margin-top: 30px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-left: 252px;
}

.btn:hover {
    background: linear-gradient(0deg, rgb(182, 182, 182) 0%, rgb(0, 51, 255)  100%);
}