.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    color: white;
}

.form_control input {
    padding: .7em;
    height: 1.5rem;
    border: 1px solid black;
    font-size: 15px;
}

.form_control input::placeholder {
    color: rgb(255, 255, 255);
}

.form_control input:focus {
    outline: none;
}

.form_control input[type="file"] {
    cursor: pointer;
    border: 1px solid rgb(47, 0, 255);
}

.form_control input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
    padding: .9em;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    border: none;

}