.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vh;
    border: 1px solid gray;
    background-color: rgb(243, 243, 243);
}

.form h1 {
    margin-bottom: 1vh;
}